<?xml version="1.0" encoding="UTF-8" ?>
<!-- /src/main/resources/mybatis-config.xml -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- null 값 허용 -->
  <settings> <setting name="jdbcTypeForNull" value="VARCHAR"/></settings>
  <mappers>	<!-- sql 구문을 저장하는 장소. sql 구문을 작성한 Interface의 패키지 설정 -->
      <package name="dao.mapper"/>
  </mappers>
</configuration>