/* /webapp/css/main.css  */
table {	width : 100%;	border-collapse: collapse;  }
th,td {
	border : 3px solid #bcbcbc;
	text-align: center;
	padding : 8px;
}
th {background-color: #4CAF50;	color : white;}
td { background-color: #F2F2F2;  }
input[type=text],input[type=password],textarea {	width : 100%;  }
caption {
	color : #111111;
	font-size : 20px;
	background-color: #FFFFFF;
}
.nopadding {
	width:280px;
	table-layout:fixed;
}
.nopadding th,.nopadding td {
	border : 1px solid #bcbcbc;
	vertical-align : middle;
	padding : 0px;
}
.nopadding caption {
	color : #111111;
	font-size : 15px;
	background-color: #FFFFFF;
}
/* MyPage */
.a ul {
	background-color : #ffff80;
	list-style-type : none;
	margin:0;
	padding : 0;	
}
.a li a{
	display : block;
	color : #000000;
	padding : 10px;
	text-align : center;
	text-decoration : none;
	font-weight : bold;
}
.a li a.current {
	background-color : #64e18f;
	color : white;
}
.a li a:hover:not(.current) { 
	background-color: #c8c800; 
	color : white;
}
	
