/* /webapp/css/main.css  */
table {	width : 100%;	border-collapse: collapse;  }
th,td {
	border : 3px solid #BDC7FF;
	text-align: center;
	padding : 8px;
}
th {background-color : #ffffd5;	color : #604949;}
td { background-color: #D9F3FE;  }
input[type=text],input[type=password],textarea {	width : 100%;  }
caption {
	color : #111111;
	font-size : 20px;
	background-color: #FFFFFF;
}
.nopadding {
	width:280px;
	table-layout:fixed;
}
.nopadding th,.nopadding td {
	border : 1px solid #9375c061;
	vertical-align : middle;
	padding : 0px;
}
.nopadding caption {
	color : #111111;
	font-size : 15px;
	background-color: #FFFFFF;
}
.left {
	        text-align : left;
}
/* MyPage */
.a ul {
	background-color : #ffff80;
	list-style-type : none;
	margin:0;
	padding : 0;	
}
.a li a{
	display : block;
	color : #000000;
	padding : 10px;
	text-align : center;
	text-decoration : none;
	font-weight : bold;
}
.a li a.current {
	background-color : #64e18f;
	color : white;
}
.a li a:hover:not(.current) { 
	background-color: #c8c800; 
	color : white;
}
/* 로그인,아이디찾기,비밀번호찾기,회원가입 */
.loginF{
	position : adbsolute;
    height: 10px;
    width: 600px;
    margin: 0px auto;
    top: 50%;
    left: 50%;
    padding: 5px;
}